body {
  background-color: cadetblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.text span {
  font-size: 2.5rem;
  font-weight: bold;
  display: inline-block;
  transform-style: preserve-3d;
}

.text span:nth-child(even) {
  color: gold;
}

.text span:nth-child(1) {
  animation: text-animation 5s infinite linear 0s;
}

.text span:nth-child(2) {
  animation: text-animation 5s infinite linear 0.5s;
}

.text span:nth-child(3) {
  animation: text-animation 5s infinite linear 1s;
}

.text span:nth-child(4) {
  animation: text-animation 5s infinite linear 1.5s;
}

.text span:nth-child(5) {
  animation: text-animation 5s infinite linear 2s;
}

.text span:nth-child(6) {
  animation: text-animation 5s infinite linear 2.5s;
}

.text span:nth-child(7) {
  animation: text-animation 5s infinite linear 3s;
}

.text span:nth-child(8) {
  animation: text-animation 5s infinite linear 3.5s;
}

@keyframes text-animation {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
